In [41]:
#  packages
pacman::p_load(pacman, dplyr, callr, GGally, ggplot2, ggthemes, tidyverse, ggvis, httr, lubridate, plotly, rio, rmarkdown, shiny, olsrr, zoo, PerformanceAnalytics, corrplot, stringr, tidyr, caTools, forecast, cowplot, rgl, ggstatsplot, relaimpo)

In [42]:
# set path
path <- getwd()
setwd(path)

In [43]:
# import dataframe
df_developed_raw <- read.csv("./data/developed.csv", header = TRUE)
df_developed <- df_developed_raw[, 3:9] # slicing [row, col], starting with 1

df_developing_raw <- read.csv("./data/developing.csv")
df_developing <- df_developing_raw[, 3:9]

df_all_raw <- read.csv("./data/all.csv")
df_all <- df_all_raw[, 3:9]

head(df_developed)
head(df_developing)
head(df_all)

  lnGGGI lnFDI lnGDP    lnPD     lnTO     lnGDP2   lnCO2
1 NA     NA    21.96351 5.149410 4.028510 43.92701 -0.6052462
2 NA     NA    22.09764 5.170025 4.056082 44.19528 -0.6187635
3 NA     NA    22.13074 5.184171 4.025054 44.26148 -0.6187635
4 NA     NA    22.02466 5.191312 3.850038 44.04932 -0.6604477
5 NA     NA    21.96162 5.191230 3.968937 43.92324 -0.6604477
6 NA     NA    22.01226 5.182835 4.074026 44.02452 -0.7113519

  lnGGGI lnFDI    lnGDP    lnPD     lnTO     lnGDP2   lnCO2
1 NA     19.28778 22.66507 3.701973 4.562411 45.33013 0.4918874
2 NA     19.05562 23.00032 3.726912 4.326436 46.00063 0.8191629
3 NA     17.64489 23.03672 3.749594 4.197479 46.07344 1.4349655
4 NA     17.84278 23.24226 3.773564 4.068161 46.48453 1.9080599
5 NA     19.06660 23.48686 3.801030 3.970184 46.97371 2.1279698
6 NA     17.77008 23.60275 3.832461 3.811645 47.20550 2.4936847

  lnGGGI lnFDI    lnGDP    lnPD     lnTO     lnGDP2   lnCO2
1 NA     19.28778 22.66507 3.701973 4.562411 45.33013 0.4918874
2 NA     19.05562 23.00032 3.726912 4.326436 46.00063 0.8191629
3 NA     17.64489 23.03672 3.749594 4.197479 46.07344 1.4349655
4 NA     17.84278 23.24226 3.773564 4.068161 46.48453 1.9080599
5 NA     19.06660 23.48686 3.801030 3.970184 46.97371 2.1279698
6 NA     17.77008 23.60275 3.832461 3.811645 47.20550 2.4936847

In [44]:
# descriptive statistics
summary(df_developed)
# summary(df_developing)
# summary(df_all)


str(df_developed)
# str(df_developing)
# str(df_all)

     lnGGGI            lnFDI           lnGDP            lnPD
 Min.   :-0.4868   Min.   :17.33   Min.   :21.07   Min.   :0.9911
 1st Qu.:-0.3628   1st Qu.:21.98   1st Qu.:24.72   1st Qu.:3.5201
 Median :-0.3105   Median :23.33   Median :26.47   Median :4.7485
 Mean   :-0.3105   Mean   :23.25   Mean   :26.26   Mean   :4.5999
 3rd Qu.:-0.2604   3rd Qu.:24.57   3rd Qu.:27.87   3rd Qu.:5.5074
 Max.   :-0.1143   Max.   :27.32   Max.   :30.69   Max.   :8.9829
 NA's   :30        NA's   :88
      lnTO           lnGDP2          lnCO2
 Min.   :3.155   Min.   :42.15   Min.   :-0.7729
 1st Qu.:4.131   1st Qu.:49.45   1st Qu.: 2.9442
 Median :4.476   Median :52.95   Median : 3.9568
 Mean   :4.563   Mean   :52.52   Mean   : 4.1582
 3rd Qu.:4.980   3rd Qu.:55.73   3rd Qu.: 5.7988
 Max.   :6.081   Max.   :61.39   Max.   : 8.7211
 NA's   :10                      NA's   :15

'data.frame':	540 obs. of  7 variables:
 $ lnGGGI: num  NA NA NA NA NA NA NA NA NA NA ...
 $ lnFDI : num  NA NA NA NA NA NA NA NA NA NA ...
 $ lnGDP : num  22 22.1 22.1 22 22 ...
 $ lnPD  : num  5.15 5.17 5.18 5.19 5.19 ...
 $ lnTO  : num  4.03 4.06 4.03 3.85 3.97 ...
 $ lnGDP2: num  43.9 44.2 44.3 44 43.9 ...
 $ lnCO2 : num  -0.605 -0.619 -0.619 -0.66 -0.66 ...

In [45]:
# check null values
head(is.na(df_developed))
df_developed <- na.omit(df_developed) # remove null values

head(is.na(df_developing))
df_developing <- na.omit(df_developing) # remove null values

head(is.na(df_all))
df_all <- na.omit(df_all) # remove null values

     lnGGGI lnFDI lnGDP lnPD  lnTO  lnGDP2 lnCO2
[1,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE
[2,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE
[3,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE
[4,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE
[5,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE
[6,] TRUE   TRUE  FALSE FALSE FALSE FALSE  FALSE

     lnGGGI lnFDI lnGDP lnPD  lnTO  lnGDP2 lnCO2
[1,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[2,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[3,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[4,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[5,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[6,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE

     lnGGGI lnFDI lnGDP lnPD  lnTO  lnGDP2 lnCO2
[1,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[2,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[3,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[4,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[5,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE
[6,] TRUE   FALSE FALSE FALSE FALSE FALSE  FALSE

In [46]:
cor(df_developed)
cor(df_developing)
cor(df_all)

       lnGGGI      lnFDI       lnGDP        lnPD         lnTO
lnGGGI  1.00000000  0.02415601  0.026883895 -0.496123170 -0.08511704
lnFDI   0.02415601  1.00000000  0.639635020  0.165454127 -0.19525952
lnGDP   0.02688389  0.63963502  1.000000000  0.009653445 -0.67748828
lnPD   -0.49612317  0.16545413  0.009653445  1.000000000  0.45159136
lnTO   -0.08511704 -0.19525952 -0.677488277  0.451591357  1.00000000
lnGDP2  0.02688389  0.63963502  1.000000000  0.009653445 -0.67748828
lnCO2  -0.12791954  0.58353057  0.956186070 -0.030860522 -0.69589646
       lnGDP2       lnCO2
lnGGGI  0.026883895 -0.12791954
lnFDI   0.639635020  0.58353057
lnGDP   1.000000000  0.95618607
lnPD    0.009653445 -0.03086052
lnTO   -0.677488277 -0.69589646
lnGDP2  1.000000000  0.95618607
lnCO2   0.956186070  1.00000000

       lnGGGI       lnFDI        lnGDP      lnPD         lnTO        lnGDP2
lnGGGI  1.000000000 -0.003521066 -0.0858834  0.007433124  0.08337006 -0.0858834
lnFDI  -0.003521066  1.000000000  0.8334840 -0.012543305 -0.11386001  0.8334840
lnGDP  -0.085883396  0.833483968  1.0000000  0.072158403 -0.35908405  1.0000000
lnPD    0.007433124 -0.012543305  0.0721584  1.000000000 -0.05054846  0.0721584
lnTO    0.083370056 -0.113860013 -0.3590841 -0.050548460  1.00000000 -0.3590841
lnGDP2 -0.085883396  0.833483968  1.0000000  0.072158403 -0.35908405  1.0000000
lnCO2  -0.080942599  0.801109598  0.9443646  0.046626385 -0.20458479  0.9443646
       lnCO2
lnGGGI -0.08094260
lnFDI   0.80110960
lnGDP   0.94436458
lnPD    0.04662639
lnTO   -0.20458479
lnGDP2  0.94436458
lnCO2   1.00000000

       lnGGGI      lnFDI        lnGDP       lnPD        lnTO
lnGGGI  1.00000000  0.199363938  0.13319735 -0.06889740  0.129555593
lnFDI   0.19936394  1.000000000  0.83105180  0.08260300 -0.006572739
lnGDP   0.13319735  0.831051805  1.00000000  0.09505715 -0.294075366
lnPD   -0.06889740  0.082602998  0.09505715  1.00000000  0.152570810
lnTO    0.12955559 -0.006572739 -0.29407537  0.15257081  1.000000000
lnGDP2  0.13319735  0.831051805  1.00000000  0.09505715 -0.294075366
lnCO2   0.03665059  0.771261659  0.93764000  0.05460430 -0.245691613
       lnGDP2      lnCO2
lnGGGI  0.13319735  0.03665059
lnFDI   0.83105180  0.77126166
lnGDP   1.00000000  0.93764000
lnPD    0.09505715  0.05460430
lnTO   -0.29407537 -0.24569161
lnGDP2  1.00000000  0.93764000
lnCO2   0.93764000  1.00000000

In [47]:
model_developed <- lm(lnCO2~., data = df_developed)
summary(model_developed)

Call:
lm(formula = lnCO2 ~ ., data = df_developed)

Residuals:
    Min      1Q  Median      3Q     Max
-1.1323 -0.2245  0.0084  0.2434  0.9609

Coefficients: (1 not defined because of singularities)
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -22.75449    0.62442 -36.441   <2e-16 ***
lnGGGI       -5.98446    0.30659 -19.519   <2e-16 ***
lnFDI        -0.01140    0.01439  -0.792    0.429
lnGDP         0.97598    0.02085  46.800   <2e-16 ***
lnPD         -0.18130    0.01650 -10.987   <2e-16 ***
lnTO          0.08726    0.05659   1.542    0.124
lnGDP2             NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3718 on 446 degrees of freedom
Multiple R-squared:  0.9561,	Adjusted R-squared:  0.9556
F-statistic:  1944 on 5 and 446 DF,  p-value: < 2.2e-16

In [48]:
# multicollinearity